<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Whoops!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <style>
      .card-wrapper {
        margin: 10px 10px;
        width: 500px;
      }
    </style>
  </head>
  <body>
    <div class="card card-wrapper">
      <div class="card-body">
        <h5 class="card-title">Whoops!</h5>
        <h6 class="card-subtitle mb-2 text-muted">Something isn't right</h6>
        <p class="card-text">Are you sure you entered a valid Github repo URL? Double check the URL and that the repository still exists and try again.
        </p>
        <a href="/" class="card-link">Try Again</a>
      </div>
    </div>
  </body>
</html>
